.device {
  // sao chỗ này lại để min-height
  min-height: 85rem;
  background-image: linear-gradient(to bottom, rgba(#fff, 0.8), rgba(#fff, 0.8)), url("../images/forest.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  padding-top: 10rem;

  &__img {
    margin: 0 auto -9.1rem;
  }
  @media screen and (max-width: 767px) {
    min-height: unset;
    padding-top: 5rem;
    &__img {
      margin-bottom: -5.5rem;
    }
  }
}


