$primary-font: "Montserrat", sans-serif;
$secondary-font: "Kaushan Script", cursive;
$third-font:'Roboto', sans-serif;

$wrapper: 1920px;
$container: 1240px;
$gap: 20px;

$primary-color: #e88282;
$secondary-color: #eed789;
$third-color: #95e1d3;
$gray-color: #333;
$gray-light-color: #999;

